<div class="bar">
  <mat-toolbar color="primary" fxLayoutAlign="center center">
    <span>Welcome to CPU Monitor 💻</span>
  </mat-toolbar>
  <mat-toolbar *ngIf="error" color="warn" fxLayoutAlign="center center">
    <small>
      We had a problem connecting to the server 😞. We'll retry shortly.
      <mat-icon matTooltip="{{ error | json }}">bug_report</mat-icon>
    </small>
  </mat-toolbar>
</div>

<div class="container" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
  <div fxFlex="75">
    <cpu-history [current$]="current$"></cpu-history>
  </div>

  <div fxFlex="25" fxLayoutGap="10px" fxLayout="column">
    <cpu-current [current$]="current$"></cpu-current>
    <cpu-alerts [current$]="current$"></cpu-alerts>
  </div>
</div>
